body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
}

#videoContainer.hide {
    display: none;
}

#error.hide {
    display: none;
}

#wrapper {
    width: 600px;
    height: auto;
    margin-top: 20px;
}